# Visual Studio
**/.vs/
**/bin/
**/obj/
**/TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates
/Backend/Explorify.Api.Notifications/Explorify.Api.Notifications/explorify-2-firebase-adminsdk-fbsvc-74d9484234.json
/Backend/Explorify.Api.Notifications/Explorify.Api.Notifications/explorify-2-firebase-adminsdk-fbsvc-b06ecf6a54.json
