<!DOCTYPE html>
<html lang="es">
<head>
    @RenderSection("Meta", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"]</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        /* FONDO GLOBAL DEGRADADO */
        body {
            background: linear-gradient(135deg, #6a00ff, #007bff, #ff00c8);
            background-size: 300% 300%;
            animation: gradientMove 12s ease infinite;
            overflow-x: hidden;
            min-height: 100vh;
            position: relative;
        }

        @@keyframes gradientMove {
            0%

        {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }

        }
    </style>
</head>

<body>
    @RenderBody()
</body>
</html>
